@import "tailwindcss";
/* src/index.css */
body {
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    font-family: sans-serif;
  }
  

  .scroll-invisible::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.scroll-invisible {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}
